*{
    margin: 0%;
    padding: 0%;
}

.App{
    background-color: #727677;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

/* <----------TOP-----------> */
.top{
    background-color: #2d2b2b;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: fit-content;
  }
 
  /* menu button */
  
    .menu-btn{
      margin: 8px;
      padding: 8px;
      position: relative;
      color: #adecab;
      background-color: #464646;
      border-radius: 3px;
      border: 0px;
      font-size: 12px;
      font-weight: 500;
    }
    .menu-btn-selected{
      margin: 8px;
      padding: 8px;
      position: relative;
      color: #464646;
      background-color: #adecab;
      border-radius: 3px;
      border: 0px;
      font-size: 12px;
      font-weight: 600;
    }
    .menu-btn:hover{
      color: #464646;
      background-color: #adecab;
      font-weight: 600;
      cursor: pointer;
    }
  /* <----------WORKPLACE----------> */
  .workplace{
    display: flex;
    flex-direction: row;
  }
  /* <-----------LEFT------------> */
    .left{
      width: fit-content;
      height: fit-content;
      margin: 10px 10px 10px 0px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      background-color: #2d2b2b;
    }
    
    input[type="file"] {
      display: none;
    }
    
    .input-selected{
      background-color: #adecab;
      color: #2d2b2b;
      font-weight: 600;
      border: none;
    }
    
    .input-not-selected{
      background-color: #464646;
      color: white;
      border: 2px solid black;
    }
  
    .pop-btn{
      margin: 15px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .custom-file-upload {
        border-radius: 5px;
        cursor: pointer;
        margin: 2px;
        display: block;
        width: 120px;
        padding: 5px;
        font-size: 12px;
        text-align: center;
    }
    /* Background Selection */
    
    .collage-back{
      color: #ffffff;
      margin: 14px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 12px;
      cursor: pointer;
    }
    
    .back-col{
      height: 12px;
      width: 12px;
      border: 1px solid;
      padding: 0px;
      cursor: pointer;
    }
    
    /* <------------------Right---------------> */
    .right{
      width: 100%;
    }
    
    .empty-collage{
      margin: 50px;
      width: 640px;
      background-color: #ffffff;
      height: 460px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .collage{
      width: fit-content;
      height: fit-content;
      padding: 40px;
      margin: 50px;
      margin-left: auto;
      margin-right: auto;
    }

  #black-white{
      -webkit-filter: grayscale(1);
  }


@media only screen and (max-width: 800px){
  .App{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
  .top{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-btn{
    width: 90%;
  }
  .workplace{
    flex-direction: column;
    width: 100%;
  }
  .left{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
  }

  .empty-collage{
    margin: 50px;
    width: 300px;
    background-color: #ffffff;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .collage{
    padding: 20px;
  }
  .custom-file-upload {
    width: 95%;
    font-size: 20px;
  }

  .collage-back{
    font-size: 20px;
  }

  .menu-btn{
    width: 100%;
    font-size: 20px;
  }
  .menu-btn-selected{
    width: 100%;
    font-size: 20px;
  }

  .back-col{
    width: 20px;
    height: 20px;
  }

}